fastapi
uvicorn
pydantic[email]
email-validator
psycopg2-binary
python-multipart
google-auth
celery
redis
python-dotenv
torch
openai-whisper
pyaudio
numpy
langchain
langchain_google_genai
langchain_huggingface
sentence-transformers
qdrant-client
