GROQ_API_KEY=
GOOGLE_API_KEY=
LLM_PROVIDER=groq # Options: 'google', 'groq'
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
SENDER_EMAIL=
SENDER_PASSWORD=
# Database Configuration
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Piper TTS Configuration
PIPER_EXE=
PIPER_MODEL=
PIPER_LIB_PATH=
