fastapi
uvicorn
pydantic[email]
psycopg2-binary
email-validator
python-dotenv
python-multipart
google-auth
celery
redis
torch
openai-whisper
pyaudio
numpy
langchain
langchain_google_genai
langchain_huggingface
sentence-transformers
qdrant-client
langchain-groq
